alembic==0.8.10
click==6.7
decorator==4.0.11
Flask==0.12
Flask-Login==0.4.0
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-Versioned==0.9.4.post20101221
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==0.23
pbr==1.10.0
pycurl==7.43.0
pygobject==3.20.0
python-apt===1.1.0.b1-elementary2-ubuntu16.04.1
python-editor==1.0.3
six==1.10.0
SQLAlchemy==1.1.5
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
Tempita==0.5.2
Werkzeug==0.11.15
WTForms==2.1
