{% extends "base.html" %}

{% block title %}Add Task{% endblock %}

{% block content %}

<form method="POST">
	{{conditionForm.hidden_tag()}}
	
	<table>
		<tbody>
			<tr>
				<td><h4>lab:</h4></td>
				<td>
					{{conditionForm.lab(value=lab)}}
				</td>
			</tr>
			<tr>
				<td><h4>num:</h4></td>
				<td>
					{{conditionForm.task(value=num)}}
				</td>
			</tr>
			<tr>
				<td><h4>Name:</h4></td>
				<td>
					{{conditionForm.name(value=name)}}
				</td>
			</tr>
		</tbody>
	</table>
	
	<h3>Condition:</h3>
	<div class="condition">
		<textarea id="condition" name="condition">{{text}}</textarea>
	</div>

    {% for error in conditionForm.errors.condition %}
    <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>

    <input onclick='add("it")' type="button" value="Test Input">
    <input onclick='add("ot")' type="button" value="Test Output">
	
	<p><input type="submit" value="Add"></p>

</form>

<script>
	function add(str){
		field = document.querySelector("#condition")
		field.value += "\n<" + str + ">" + "</ft>"
	}
</script>

{% endblock %}
