<html>
  <head>
    <title>{% block title %}{% endblock %} | CheckSystem</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/material.min.css">
  </head>
  <body>
    <header>
        <div class="wrapper">
            <div class="left">
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}">
                            <span class="text">Главная</span>
                        </a>
                    </li>
                    {% if g.user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('choose_task') }}">
                            <span class="text">Задачи</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('user', cart = g.user.cart) }}">
                            <span class="text">Моя страница</span>
                        </a>
                    </li>
                    {% if g.user.is_prepod() %}
                        <li>
                            <a href="{{ url_for('all_users') }}">
                                <span class="text">Все студенты</span>
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('all_attempts') }}">
                            <span class="text">Попытки</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <span class="text">Выход</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <div class="wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <script src="/static/js/moment.min.js"></script>
    <script>
        function change_format(date){
            return moment(date).fromNow();
        }

        window.onload = function () {
            var dates = document.querySelectorAll(".old-date")
            for ( var i = 0; i < dates.length; ++i ) {
                var elem = dates[i]
                
                var old_date = new Date(elem.innerHTML)

                old_date.setTime(old_date.getTime() - (old_date.getTimezoneOffset()*60*1000))
                
                old_date = new Date(old_date).toISOString()
                
                elem.innerHTML = change_format(old_date)
                elem.classList.remove("old-date")
            }
        }
    </script>
  </body>
</html>