{% extends "base.html" %}

{% block title %}Выбор задачи{% endblock %}

{% block content %}
<h1 class="page-title">Выбор задачи</h1>
<div class="lab-task-table">
    {% for lab in table %}
    	<div class="lab">
	    	<h3>{{lab.name}}</h3>
		    {% for task in table[lab] %}
				<a class="task" href="/task/{{ task.id }}">{{ task.num }}</a>
		    {% endfor %}
		    {% if g.user.is_prepod() %}
		    	<a class="task add-task" href="/add_task?lab={{lab.num}}">+</a>
		    {% endif %}
    	</div>
    {% endfor %}
</div>
{% endblock %}