{% extends "base.html" %}

{% block title %}Изменение задачи{% endblock %}

{% block content %}

<form method="POST">
	{{userForm.hidden_tag()}}
	
	<table>
		<tbody>
			<tr>
				<td><h4>Имя:</h4></td>
				<td>
					{{userForm.fname(value=fname if fname else "")}}
					{% for error in userForm.errors.fname %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td><h4>Фамилия:</h4></td>
				<td>
					{{userForm.lname(value=lname if lname else "")}}
					{% for error in userForm.errors.lname %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td><h4>Отчество:</h4></td>
				<td>
					{{userForm.pname(value=pname if pname else "")}}
					{% for error in userForm.errors.pname %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td><h4>Курс:</h4></td>
				<td>
					{{userForm.course(value=course if course else "")}}
					{% for error in userForm.errors.course %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td><h4>Группа:</h4></td>
				<td>
					{{userForm.group(value=group if group else "")}}
					{% for error in userForm.errors.group %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td><h4>Вариант:</h4></td>
				<td>
					{{userForm.variant(value=variant if variant else "")}}
					{% for error in userForm.errors.variant %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
		</tbody>
	</table>
	
	<p><input type="submit" value="Add"></p>

</form>

{% endblock %}
