{% extends "base.html" %}

{% block title %}Изменение задачи{% endblock %}

{% block content %}


<!-- <form action="#">
	<div class="mdl-textfield mdl-js-textfield">
		<input class="mdl-textfield__input" type="text" id="sample1">
		<label class="mdl-textfield__label" for="sample1">Text...</label>
	</div>
</form> -->

<form method="POST">
	{{userForm.hidden_tag()}}
	
	<table>
		<tbody>
			<tr>
				<td class="mdl-textfield mdl-js-textfield">
				<label for="fname">Имя:</label>
					{{userForm.fname(class_="mdl-textfield__input", value=fname if fname else "")}}
					{% for error in userForm.errors.fname %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td class="mdl-textfield mdl-js-textfield">
				<label for="lname">Фамилия:</label>
					{{userForm.lname(class_="mdl-textfield__input", value=lname if lname else "")}}
					{% for error in userForm.errors.lname %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td class="mdl-textfield mdl-js-textfield">
				<label for="pname">Отчество:</label>
					{{userForm.pname(class_="mdl-textfield__input", value=pname if pname else "")}}
					{% for error in userForm.errors.pname %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
{% if not is_prepod %}
				<td class="mdl-textfield mdl-js-textfield">
				<label for="course">Курс:</label>
					{{userForm.course(class_="mdl-textfield__input", value=course if course else "")}}
					{% for error in userForm.errors.course %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
{% endif %}
			</tr>
			<tr>
				<td class="mdl-textfield mdl-js-textfield">
				<label for="group">Групп{% if is_prepod %}ы{% else %}а{% endif %}:</label>
					{{userForm.group(class_="mdl-textfield__input", value=group if group else "")}}
					{% for error in userForm.errors.group %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
			<tr>
				<td class="mdl-textfield mdl-js-textfield">
				<label for="variant">Вариант:</label>
					{{userForm.variant(class_="mdl-textfield__input", value=variant if variant else "")}}
					{% for error in userForm.errors.variant %}
				    	<span style="color: red;">[{{error}}]</span>
				    {% endfor %}<br>
				</td>
			</tr>
		</tbody>
	</table>
	
	<p><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="ОБНОВИТЬ/ДОБАВИТЬ"></p>

</form>

{% endblock %}
