{% extends "base.html" %}

{% block title %}Task {{task_id}}{% endblock %}

{% block content %}

{% if g.user.is_prepod() %}
<a href="/add_task?id={{task_id}}"><input type="button" value="Edit"></a>
{% endif %}

{% if task_exist %}

{% include condition %}

<table>
    <tbody>
        <tr>
            <td>
                <h1>Upload task</h1>
                <form method="POST" enctype="multipart/form-data">
                    {{taskSendForm.hidden_tag()}}
                    <p>
                        <table>
                            <tbody>
                                <tr>{{taskSendForm.task(multiple="multiple")}}</tr>
                            </tbody>
                        </table>
                        {% for error in taskSendForm.errors.task %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br>
                    </p>
                    <p><input type="submit" value="Upload"></p>
                </form>
            </td>
            <td>
                {% if attempts %}
                <h1>Attempts:</h1>
                <ol>
                {% for attempt in attempts %}
                    <li>
                        {% include 'attempt.html' %}
                    </li><br>
                {% endfor %}
                </ol>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% elif g.user.is_prepod() %}

{% endif %}

{% endblock %}