{% extends "base.html" %}
{% block title %}Задача {{task_id}}{% endblock %}
{% block content %}
{% if task_exist %}
{% include condition %}
{% endif %}

{% if g.user.is_prepod() %}
<a href="/add_task?id={{task_id}}">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        {% if task_exist %}
            ИЗМЕНИТЬ
        {% else %}
            ДОБАВИТЬ
        {% endif %}
    </button>
</a>
{% endif %}

{% if task_exist %}
<table>
    <tbody>
        <tr>
            <td class="upload">
                <h3>Отправить</h3>
                <form method="POST" enctype="multipart/form-data">
                    {{taskSendForm.hidden_tag()}}
                    <p>
                        <table>
                            <tbody>
                                <tr>{{taskSendForm.task(multiple="multiple")}}</tr>
                            </tbody>
                        </table>
                        {% for error in taskSendForm.errors.task %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}<br>
                    </p>
                    <p><input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" value="ОТПРАВИТЬ"></p>
                </form>
            </td>
            <td>
                {% if attempts %}
                <h3>Попытки:</h3>
                <ol>
                {% for attempt in attempts %}
                    <li>
                        {% include 'attempt.html' %}
                    </li><br>
                {% endfor %}
                </ol>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% elif g.user.is_prepod() %}

{% endif %}

{% endblock %}