{% extends "base.html" %}

{% block content %}
<table>
	<thead>
		<th>Cart</th>
		<th>Surname</th>
		<th>Name</th>
		<th>Parent Name</th>
		<th>Course</th>
		<th>Group</th>
		<th>Variant</th>
	</thead>

	<tbody>
		{% for user in users %}
			<tr>
				<td><a href="/user/{{user.cart}}">{{user.cart}}</a></td>
				<td>{{user.fname}}</td>
				<td>{{user.lname}}</td>
				<td>{{user.pname}}</td>
				<td>{{user.course}}</td>
				<td>{{user.group}}</td>
				<td>{{user.variant}}</td>
				<td onclick="show({{user.cart}});">TABLE</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
{% for user in users %}
	<div id="id{{user.cart}}" class="container hidden" onclick="show({{user.cart}});">
		<div class="tasks-table">
			{% include 'labtask_table.html' %}
		</div>
	</div>
{% endfor %}
<script>
	var last;
	function show(id){
		var current = document.querySelector("#id"+id)
		current.classList.toggle("hidden")
		if (last && last != current){
			last.classList.add("hidden")
		}
		last = current
	}
</script>
{% endblock %}