{% extends "base.html" %}

{% block title %}{{user.fname}} {{user.lname}}{% endblock %}

{% block content %}
<h1 class="page-title">{{user.fname}} {{user.lname}}</h1>
{% if g.user.is_prepod() %}
<a href="/edit?id={{user.cart}}">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	  ИЗМЕНИТЬ
	</button>
</a>
{% endif %}
{% if user.get_course() and user.get_group() %}
	<h4>Курс: {{user.get_course()}} Группа: {{user.get_group()}}</h4>
	<br>
{% endif %}
</p>
<div>
    {% include 'labtask_table.html' %}
    {% if attempts %}
		<h3 class="page-title small">Попытки:</h3>
		<br>
	    <ol>
	    {% for attempt in attempts %}
	        <li>
	            {% include 'attempt.html' %}
	        </li><br>
	    {% endfor %}
	    </ol>
	{% endif %}
</div>
{% endblock %}