{% extends "base.html" %}

{% block title %}Студенты{% endblock %}

{% block content %}

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored dialog-button">
	<i class="material-icons">+</i>
</button>

<dialog id="dialog" class="mdl-dialog">
	<form action="/edit" method="GET">
		<h3 class="mdl-dialog__title">Добавить студента</h3>
		<div class="mdl-dialog__content">
			<span>Номер студенческого:</span>
			<input type="text" name="cart">
		</div>
		<div class="mdl-dialog__actions">
			<input type="submit" class="mdl-button" value="Добавить">
			<button type="button" class="mdl-button">Закрыть</button>
		</div>
	</form>
</dialog>


<table class="users-table">
	<thead>
		{% for i in range(columns_length) %}
		<th>
			<a href="/all_users?sort_by={{i}}">
				{{columns[i].name}}
			</a>
		</th>
		{% endfor %}
	</thead>

	<tbody>
		{% for user in users %}
			<tr>
				{% for col in columns %}
				<td>
					{% if col == columns[0] %}
						<a href="/user/{{col.f(user)}}">{{col.f(user)}}</a>
					{% else %}
						{{col.f(user)}}
					{% endif %}
				</td>
				{% endfor %}
				<td>
					<button class="mdl-button mdl-js-button mdl-button--raised" onclick="show({{user.cart}});">Таблица</button>
				</td>

			</tr>
		{% endfor %}
	</tbody>
</table>
{% for user in users %}
	<div id="id{{user.cart}}" class="container hidden" onclick="show({{user.cart}});">
		<div class="tasks-table">
			{% include 'labtask_table.html' %}
		</div>
	</div>
{% endfor %}

<script>
	var last;
	function show(id){
		var current = document.querySelector("#id"+id)
		current.classList.toggle("hidden")
		if (last && last != current){
			last.classList.add("hidden")
		}
		last = current
	}

	(function() {
		'use strict';
		var dialogButton = document.querySelector('.dialog-button');
		var dialog = document.querySelector('#dialog');
		if (! dialog.showModal) {
			dialogPolyfill.registerDialog(dialog);
		}
		dialogButton.addEventListener('click', function() {
			dialog.showModal();
		});
		dialog
			.querySelector('button:not([disabled])')
			.addEventListener('click', function() {
				dialog.close();
			});
	}());
</script>
{% endblock %}