<h2 class="task-name">Одномерный японский кроссворд</h2>

<p>Не так давно Адалтик узнал, что такое японский кроссворд. Японский кроссворд — это изображение, представляемое таблицей размера a × b квадратных клеток, каждая из которых имеет либо белый, либо черный цвет. Слева от строк и сверху от столбцов располагаются числа, которые шифруют данную строку или столбец. Количество чисел показывает, сколько групп чёрных клеток находятся в соответствующей строке или столбце, а сами числа — сколько идущих подряд чёрных клеток содержит каждая из этих групп (подробнее про японский кроссворд можно прочесть в Википедии по ссылке https://ru.wikipedia.org/wiki/Японский_кроссворд).</p>

<p>Адалтик счел общий случай японского кроссворда слишком сложным и нарисовал строку из n клеток (то есть японский кроссворд размера 1 × n), которую он хочет зашифровать числами так же, как в японском кроссворде.</p>

<img src="../../static/img/1.png" alt="">

<p>Пример шифрования одной строки японского кроссворда.
Помогите Адалтику найти числа, шифрующие нарисованную им строку кроссворда.</p>

<h4><b>Входные данные</b></h4>
<p>В первой строке содержится целое положительное число n (1 ≤ n ≤ 100) — длина строки. Во второй строке содержится строка, состоящая из n символов 'B' или 'W', ('B' соответствует черной клетке, 'W' — белой клетке в строке, нарисованной Адалтиком).</p>

<h4><b>Выходные данные</b></h4>
<p>В первой строке должно содержаться целое неотрицательное число k — количество чисел, шифрующих строку, то есть количество групп черных клеток в строке.</p>

Во второй строке должно содержаться k целых чисел, шифрующих строку, то есть соответствующих размерам групп последовательных черных клеток в порядке слева направо.

<h4><b>Примеры</b></h4>


<div class="input">
	<div class="title">Входные данные</div>
	<pre>3<br>BBW<br></pre></div>

<div class="output">
	<div class="title">Выходные данные</div>
	<pre>1<br>2 </pre></div>
<div class="input">
	<div class="title">Входные данные</div>
	<pre>5<br>BWBWB<br></pre></div>

<div class="output">
	<div class="title">Выходные данные</div>
	<pre>3<br>1 1 1 </pre></div>
<div class="input">
	<div class="title">Входные данные</div>
	<pre>4<br>WWWW<br></pre></div>

<div class="output">
	<div class="title">Выходные данные</div>
	<pre>0<br></pre></div>
<div class="input">
	<div class="title">Входные данные</div>
	<pre>4<br>BBBB<br></pre></div>

<div class="output">
	<div class="title">Выходные данные</div>
	<pre>1<br>4 </pre></div>
<div class="input">
	<div class="title">Входные данные</div>
	<pre>13<br>WBBBBWWBWBBBW<br></pre></div>

<div class="output">
	<div class="title">Выходные данные</div>
	<pre>3<br>4 1 3 </pre></div>

<p>Примечание
Последний пример из условия соответствует рисунку из условия.</p>
