*{margin: 0; padding: 0;}

@font-face {
    font-family: "B20SansSemiCondensed";
    src: url("../fonts/B20SansSemiCondensed/B20SansSemiCondensed.eot");
    src: url("../fonts/B20SansSemiCondensed/B20SansSemiCondensed.eot?#iefix")format("embedded-opentype"),
    url("../fonts/B20SansSemiCondensed/B20SansSemiCondensed.woff") format("woff"),
    url("../fonts/B20SansSemiCondensed/B20SansSemiCondensed.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, th, td, a, span, p{
	font-family: B20SansSemiCondensed;
	color: white;
}

.mdl-button{
	color: white !important;
}

.dialog-button{
	position: fixed !important;
	bottom: 20px;
	right: 20px;
}

.mdl-dialog__title, .mdl-dialog__content span{
	color: black;
}

.mdl-dialog{
	margin: 0 auto;
	position: fixed;
}

li{
	list-style-type: none;
}

.users-table td, .users-table th{
	padding: 5px;
}

.old-date{display: none;}

.wrapper{
	margin: 0 auto;
	width: 60%;
}

body>.wrapper{
	margin: 20px auto;
}

.input, .output {
	border: 1px solid #888;
    background: white;
}

.input{
	margin-top: 20px;
}

.title{
	font-size: 1.3em;
	padding: 0.25em;
	border-bottom: 1px solid #888;
	text-transform: lowercase;
	font-weight: bold;
}

.output {
    margin-bottom: 1em;
    position: relative;
    top: -1px;
}

.page-title, .task-name {
	font-family: B20SansSemiCondensed;
	color: white;
    font-size: 2.3em;
    padding: 0.25em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.small{
	font-size: 1.7em;
}

pre {
    line-height: 1.25em;
    padding: 0.25em;
    margin: 0;
    background-color: #efefef;
}

.upload{
	vertical-align: top; 
}

.task-name{
	text-align: center;
}

.hidden{
	display: none;
}

.container{
	position: fixed;
	top: 20%;
	z-index: 2;
	width:40%;
	max-width: 960px;
	min-width: 600px;
	overflow: hidden;
    background: linear-gradient(#08540B,#77A046);
	margin: 0 auto;
	left: 0;
	right: 0;
    padding: 30px 30px 30px 0;
}

.condition textarea{
	width: 100%;
	min-height: 60%;
	padding: 10px;
}

.status {
	padding: 12px 11px;
	text-align: center;
	width: 70px;
	font-size: large;
}

.status-none{
	background: rgba(167, 167, 167, 0.55);
}

.status-success{
	background: rgba(0, 255, 25, 0.54);
}

.status-compileerror,
.status-runtimeerror,
.status-incorrectanswer{
	background: rgba(255, 0, 0, 0.54);
}

.lab-task-table h3{
	margin: 10px;
}

.lab-task-table .task{
	margin: 0;
	display: inline-block;
	background: khaki;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	color: black;
	cursor: pointer;
	text-decoration: none;

    -webkit-box-shadow: 6px 5px 11px -1px rgba(0, 0, 0, 0.58);;
    -moz-box-shadow: 6px 5px 11px -1px rgba(0, 0, 0, 0.58);;
    box-shadow: 6px 5px 11px -1px rgba(0, 0, 0, 0.58);;
}

.lab-task-table .add-task{
	background: lightgreen;
}

.lab-task-table .lab{
	padding: 10px;
	margin: 10px;
	display: block;
	width: 100%;
	padding-bottom: 20px; 
}

.table-btn{
	cursor: pointer;
}
.table-btn:hover{
	color: lightcoral;
}

header{
	width: 100%;
	/*background: lightcoral;*/
	background-image: linear-gradient(#08540B,#77A046);
}

header .wrapper{
	height: 50px;
}

.left li{
	float: left;
}
.right li{
	float: right;
}

header .wrapper li{
	/*background: linear-gradient( lightcoral, crimson );*/
}
header .wrapper li a:hover{
	background: #08540B;
}

header .wrapper li a{
    padding: 20px 15px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
}
header .wrapper li a span{
}

body{
	background-image: url(../img/dark_embroidery.png); /* Путь к фоновому рисунку */
	background-repeat: repeat;
	/*background: rgba(248, 239, 228, 0.77);*/
}
/********************** LOGIN PAGE ***************************/
.login-wrapper{
	width: 30%;
	margin: 10% auto;
}

.login-wrapper .error{
	display: block;
	color: red;
	text-align: center;
}

.form-container {
   border: 1px solid #c7b5a2;
   background: #c9b7a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
   background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
   background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
   background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 1px solid #c9b7a2;
   background: #e4d5c3;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #f2e7d9;
   color: #725129;
   }
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #725129;
   text-shadow: #fdf2e4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #447314;
   background: #4e7a26;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#4e7a26));
   background: -webkit-linear-gradient(top, #8dc059, #4e7a26);
   background: -moz-linear-gradient(top, #8dc059, #4e7a26);
   background: -ms-linear-gradient(top, #8dc059, #4e7a26);
   background: -o-linear-gradient(top, #8dc059, #4e7a26);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #4e7a26 100%);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #060f01;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #4e7a26;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#4e7a26));
   background: -webkit-linear-gradient(top, #8dc059, #4e7a26);
   background: -moz-linear-gradient(top, #8dc059, #4e7a26);
   background: -ms-linear-gradient(top, #8dc059, #4e7a26);
   background: -o-linear-gradient(top, #8dc059, #4e7a26);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #4e7a26 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#4e7a26), to(#4e7a26));
   background: -webkit-linear-gradient(top, #4e7a26, #8dc059);
   background: -moz-linear-gradient(top, #4e7a26, #8dc059);
   background: -ms-linear-gradient(top, #4e7a26, #8dc059);
   background: -o-linear-gradient(top, #4e7a26, #8dc059);
   background-image: -ms-linear-gradient(top, #4e7a26 0%, #8dc059 100%);
   color: #fff;
   }

/********************** LOGIN PAGE END ***************************/